{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1> About Us</h1>
	<center>Hi! Our names are Catriona, Ryan, Chris and Jamie and we've created the website Rate My Meal for food enthusiasts everywhere to share their favourite foods and rate others.</br>
	Create an account to comment on peoples' food and to post your very own recipes.</br>
	Find out about real qualified chefs and use their recipes at home!</center>

	<div class="container">
    <div class="row">
	
	<div class="col-md-4">
		<div class="card mb-4 box-shadow">
			<img class="card-img-top" src="{% static 'images/cat.JPG' %}" alt="Catriona Murphy">
			<div class="card-body">
				<p class="card-text">Catriona Murphy</p>
				<div class="d-flex justify-content-between align-items-center"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="card mb-4 box-shadow">
			<img class="card-img-top" src="{% static 'images/ryan.JPG' %}" alt="Ryan Williamson">
			<div class="card-body">
				<p class="card-text">Ryan Williamson</p>
				<div class="d-flex justify-content-between align-items-center"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="card mb-4 box-shadow">
			<img class="card-img-top" src="{% static 'images/jamie.JPG' %}" alt="Jamie Moore">
			<div class="card-body">
				<p class="card-text">Jamie Moore</p>
			<div class="d-flex justify-content-between align-items-center"></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="card mb-4 box-shadow">
			<img class="card-img-top" src="{% static 'images/chris.JPG' %}" alt="Chris Kelly">
			<div class="card-body">
				<p class="card-text">Chris Kelly</p>
			<div class="d-flex justify-content-between align-items-center"></div>
			</div>
		</div>
	</div>

	</div>
	</div>
{% endblock %}