
{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<h1> About </h1>
	<center>Hi! Our names are Catriona, Ryan, Chris and Jamie and we've created the website Rate My Meal for food enthusiasts everywhere to share their favourite foods and rate others.</br>
	Create an account to comment on peoples' food and to post your very own recipes.</br>
	Find out about real qualified chefs and use their recipes at home!</center>
	
	<div id="column1" style="float:left; margin:0; width:25%;">
		<!-- New line -->
		<IMG SRC="{% static 'images/catriona.jpg' %}" ALT="Catriona Murphy" >
		<h4>Catriona Murphy</h4><br>
    </div>
	<div id="column1" style="float:left; margin:0; width:25%;">
		<!-- New line -->
		<IMG SRC="{% static 'images/chef2.jpg' %}" ALT="Chris Kelly" >
		<h4>Chris Kelly</h4><br>
    </div>
	<div id="column1" style="float:left; margin:0; width:25%;">
		<!-- New line -->
		<IMG SRC="{% static 'images/chef2.jpg' %}" ALT="Jamie Moore" >
		<h4>Jamie Moore</h4><br>
    </div>
	<div id="column1" style="float:left; margin:0; width:25%;">
		<!-- New line -->
		<IMG SRC="{% static 'images/chef2.jpg' %}" ALT="Ryan Williamson" >
		<h4>Ryan Williamson</h4><br>
    </div>
	
	
{% endblock %}