<!DOCTYPE html>

{% load staticfiles %}

<html>
<style>
body{
	font-family: tempus sans itc !important;
	color: #660066 !important;
}

h1{
	background-color: #66CC99;
	text-align: center;
}

h4{
	text-align: center;
}

img{
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	image-orientation: from-image;
}

h3{
	text-align: center;
	text-decoration: underline;
}

li {
    list-style-type: none;
}

table, th{
	position:relative;
	border: 1px solid black;
	border-collapse: collapse;
	width:20%;
	margin-right:0px;
	margin-left:auto;
}
th, td {
  text-align: center;
}

.image{
	z-index:-1;
	position:relative;
}

</style>

<head lang = "en">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


	
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
	
	
	<title>
		{% block title_block %}
			Rate My Meal
		{% endblock %}
	</title>
</head>
	
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'base' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'categories' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'italian' %}">Italian</a>
				<a class="dropdown-item" href="{% url 'trending' %}">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
          <div class="dropdown-divider"></div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'trending' %}">Trending</a>
      </li>
	  
	  {% if user.is_authenticated %}
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'add_recipe' %}">Add Recipe</a>
      </li>
	  {% else %}
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>
	  {% endif %}
	  
	  
	  
	  
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



	{% block body_block %}
		<h1> Rate My Meal </h1>
		
		   
		   <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef1.jpg' %}" alt="Raymond Bolt">
                <div class="card-body">
                  <p class="card-text">Raymond Bolt</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef2.jpg' %}" alt="Hayley Bean">
                <div class="card-body">
				<p class="card-text">Hayley Bean</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef3.jpg' %}" alt="Stanley Spears">
                <div class="card-body">
				<p class="card-text">Stanley Spears</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef4.jpg' %}" alt="Mario Manini">
                <div class="card-body">
				<p class="card-text">Mario Manini</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef5.jpg' %}" alt="Aidan Mack">
                <div class="card-body">
				<p class="card-text">Aidan Mack</p>
                  <div class="d-flex justify-content-between align-items-center">
				  
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/chef6.jpg' %}" alt="Henry Michaels">
                <div class="card-body">
				<p class="card-text">Henry Michaels</p>
                  <div class="d-flex justify-content-between align-items-center">                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	{% endblock %}
	