<!DOCTYPE html>

{% load staticfiles %}

<html>
<style>
body{
	font-family: tempus sans itc !important;
	color: #660066 !important;
}

h1{
	background-color: #66CC99;
	text-align: center;
}

h4{
	text-align: center;
}

img{
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3{
	text-align: center;
	text-decoration: underline;
}

li {
    list-style-type: none;
}

table, th{
	position:relative;
	border: 1px solid black;
	border-collapse: collapse;
	width:20%;
	margin-right:0px;
	margin-left:auto;
}
th, td {
  text-align: center;
}

.sidebar{
	padding:120px 0 0;
	z-index:-1;
	position:absolute;
	top:0;
	bottom:auto;
	left:auto;
	right: auto;
}

.image{
	z-index:-1;
	position:relative;
}

</style>

	<head lang = "en">
	
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta charset = "UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title_block %}
				Rate My Meal
			{% endblock %}
		</title>
	</head>
	
	<body>
		<div>
		<!--<a href = "index.html"><input type = "image" src = "static/images/home.png" name = "home" height = 100 width = 100 ></a>-->
		</div>
		
		<div>
		<table id = "1">
			<tr>
				<th>Your Account</th>
			</tr>
			{% if user.is_authenticated %}
			<tr>
				<td><a href = "logout.html">Log Out</a></td>
			</tr>
			
			<tr>
				<td><a href = "add_recipe.html">Add New Meal</a></td>
			</tr>
			{% else %}
			<tr>
				<td><a href = "login.html">Log In</a></td>
			</tr>
			
			<tr>
				<td><a href = "signup.html">Sign Up</a></td>
			</tr>
			{% endif %}
		</table></br>
		</div>
		
		<div>
		<table id = "2">
			<tr>
				<th>About</th>
			</tr>
			
			<tr>
				<td>Hi! Our names are Catriona, Ryan, Chris and Jamie and we've created the website Rate My Meal for food enthusiasts everywhere to share their favourite foods and rate others. Create an account to comment on peoples' food and to post your very own recipes. Find out about real qualified chefs and use their recipes at home!</td>
			</tr>
			
			
		</table>
		</div>
		
		</br>
		<div class = "sidebar">
			<h4><p align = "left"> Categories </p></h4>
			<nav>
			<ul>
				{% for category in categories %}
				<li>
				<a href="{% url 'show_category' category.slug %}">{{category.name}}</a>
				</li>
				{% endfor %}
				<li> <a href = "trending.html">Trending</a></li>
			</ul>
			</nav>
		</div>
		
		<div>
		{% block body_block %}
		<h1> Rate My Meal </h1>
		        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef1.jpg" %}" alt="Raymond Bolt">
                <div class="card-body">
                  <p class="card-text">Raymond Bolt</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef2.jpg" %}" alt="Hayley Bean">
                <div class="card-body">
				<p class="card-text">Hayley Bean</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef3.jpg" %}" alt="Stanley Spears">
                <div class="card-body">
				<p class="card-text">Stanley Spears</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef4.jpg" %}" alt="Mario Manini">
                <div class="card-body">
				<p class="card-text">Mario Manini</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
			
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef5.jpg" %}" alt="Aidan Mack">
                <div class="card-body">
				<p class="card-text">Aidan Mack</p>
                  <div class="d-flex justify-content-between align-items-center">
				  
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{% static "images/chef6.jpg" %}" alt="Henry Michaels">
                <div class="card-body">
				<p class="card-text">Henry Michaels</p>
                  <div class="d-flex justify-content-between align-items-center">                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</head>
</html>