{% extends 'meal/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Categories
{% endblock %}
{% block body_block %}
<h1>Categories</h1>
<div class="container">
<div class="row">

<div class="col-md-4">
	{% for item in column1 %}
		<div class="card mb-4 box-shadow">
			<a href="{% url 'show_category' item.slug %}">
			<img class="card-img-top" src="{% static 'images/' %}{{item.slug}}.png" alt="{{ item.name }}">
			<div class="card-body">
				<p class="card-text">{{item.name}}</p>
			<div class="d-flex justify-content-between align-items-center"></div>
			</div>
			</a>
		</div>
	{% endfor %}
</div>

<div class="col-md-4">
	{% for item in column2 %}
		<div class="card mb-4 box-shadow">
			<a href="{% url 'show_category' item.slug %}">
			<img class="card-img-top" src="{% static 'images/' %}{{item.slug}}.png" alt="{{ item.name }}">
			<div class="card-body">
				<p class="card-text">{{item.name}}</p>
			<div class="d-flex justify-content-between align-items-center"></div>
			</div>
			</a>
		</div>
	{% endfor %}
</div>

<div class="col-md-4">
	{% for item in column3 %}
		<div class="card mb-4 box-shadow">
			<a href="{% url 'show_category' item.slug %}">
			<img class="card-img-top" src="{% static 'images/' %}{{item.slug}}.png" alt="{{ item.name }}">
			<div class="card-body">
				<p class="card-text">{{item.name}}</p>
			<div class="d-flex justify-content-between align-items-center"></div>
			</div>
			</a>
		</div>
	{% endfor %}
</div>


</div>
</div>

{% endblock %}