{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ recipe.recipe_name }}
{% endblock %}

{% block body_block %}

    {% if chef %}

        <h1> {{ chef.user.username }} </h1>
        <img src="{{ MEDIA_URL }}{{chef.picture}}" alt="{{ chef.user.username }}" style="width:500px;height:350px;"> </br>

        <div class="container">
            <div class="row">

                {% if recipes %}

                    {% for recipe in recipes %}
                    <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a href="{% url 'show_recipe' recipe.category.slug recipe.slug %}">
                                    <img class="card-img-top" src="{{ MEDIA_URL }}{{recipe.image}}" alt="{{ recipe.recipe_name }}" />
                                    <div class="card-body">
                                        <p class="card-text">{{recipe.recipe_name}}</p>
                                        <div class="d-flex justify-content-between align-items-center"></div>
                                    </div>
                                </a>
                            </div>
                    </div>
                    {% endfor %}
                
                {% else %}
                    <div class="col-md-12">
                        <strong class="text-center">This chef does not currently have any recipes.</strong>
                    </div>
                {% endif %}

            </div>
        </div>
    
    {% else %}
    <div class="col-md-12">
        <strong class="text-center">This chef does not exist.</strong>
    </div>
    {% endif %}
{% endblock %}
