{% extends 'meal/base.html' %}
{% load staticfiles %}

<style>
h1{
	background-color: #66CC99;
	text-align: center;
	font-family: tempus sans itc;
	color: #660066;
}

h4{
	text-align: center;
	font-family: tempus sans itc;
}

img{
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h3{
	font-family: tempus sans itc;
	text-align: center;
	text-decoration: underline;
}
</style>

<h1>
Rate My Meal
</h1>

<h3>Verified Chefs</h3>
<div id="contentBox" style="margin:0px auto; width:70%">
	<div id="column1" style="float:left; margin:0; width:33%;">
		<!-- New line -->
		<IMG SRC="{% static "images/chef1.jpg" %}" ALT="Spaghetti Bolognese">
		<h4>Raymond Bolt</h4><br>
		<!-- New line -->
		<IMG SRC="{% static "images/chef4.jpg" %}" ALT="Spaghetti Bolognese" >
		<h4>Mario Manini</h4><br>
	</div>
	
	<div id="column2" style="float:left; margin:0; width:33%;">
	<!-- New line -->
		<IMG SRC="{% static "images/chef2.jpg" %}" ALT="Spaghetti Bolognese" >
		<h4>Hayley Bean</h4><br>
		<!-- New line -->
		<IMG SRC="{% static "images/chef5.jpg" %}" ALT="Spaghetti Bolognese">
		<h4>Aidan Mack</h4><br>
		
	</div>	
	<div id="column3" style="float:left; margin:0; width:33%;">
	<!-- New line -->
		<IMG SRC="{% static "images/chef3.jpg" %}" ALT="Spaghetti Bolognese">
		<h4>Stanley Spears</h4><br>
		<!-- New line -->
		<IMG SRC="{% static "images/chef6.jpg" %}" ALT="Spaghetti Bolognese">
		<h4>Henry Michaels</h4><br>
		
	</div>	