{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block title_block %}
        Sign Up!
{% endblock %}

{% block body_block %}
    <h1>Sign Up as a Home Cook!</h1>
    {% if registered %}
        Rango says: <strong>thank you for registering!</strong>

    {% else %}
        <form id="user_form" method="post" action="{% url 'registerRegular' %}"enctype="multipart/form-data">

        {% csrf_token %}
      
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
		<div class="radio">
			<label><input type="radio" name="optradio" checked>Certified Chef</label>
		</div>
		<div class="radio">
			<label><input type="radio" name="optradio" checked>Home Cook</label>
		</div>
        <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}