{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Trending
{% endblock %}

{% block body_block %}
    <h1>Trending</h1>
    
    {% if recipe_views and recipe_likes %}

        <div id="contentBox" style="margin:0px auto; width:70%">
        <div id="column1" style="float:left; margin:0; width:50%;">
            <h3>Most Viewed</h3>
            
			<div class="col-md-4">
				{% for recipe in recipe_views %}
					<div class="card mb-4 box-shadow">
						<a href="{% url 'show_recipe' recipe.category.slug recipe.slug %}">
						<img class="card-img-top" src="{{ MEDIA_URL }}{{recipe.image}}" alt="{{ recipe.recipe_name }}">
						<div class="card-body">
							<p class="card-text">{{ recipe.recipe_name }}</p>
						<div class="d-flex justify-content-between align-items-center"></div>
						</div>
						</a>
					</div>
				{% endfor %}
			</div>
			
            
            
        </div>

        <div id="column2" style="float:left; margin:0;width:50%;">
            <h3>Most Liked</h3>
            
			<div class="col-md-4">
				{% for recipe in recipe_likes %}
					<div class="card mb-4 box-shadow">
						<a href="{% url 'show_recipe' recipe.category.slug recipe.slug %}">
						<img class="card-img-top" src="{{ MEDIA_URL }}{{recipe.image}}" alt="{{ recipe.image }}">
						<div class="card-body">
							<p class="card-text">{{ recipe.recipe_name }}</p>
						<div class="d-flex justify-content-between align-items-center"></div>
						</div>
						</a>
					</div>
				{% endfor %}
			</div>
        </div>

    {% else %}
        <strong>There are no recipes present.</strong>
    {% endif %}

{% endblock %}
