{% extends 'meal/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Trending
{% endblock %}

{% block body_block %}
	<h1>Trending</h1>

	<div id="contentBox" style="margin:0px auto; width:70%">
	<div id="column1" style="float:left; margin:0; width:50%;">
		<h3>Most Viewed</h3>
		<!-- New line -->
		<IMG SRC="{{ MEDIA_URL }}bolognese.jpg" ALT="Spaghetti Bolognese" >
		<h4>Spaghetti Bolognese</h4><br>
		<!-- New line -->
		<IMG SRC="{{ MEDIA_URL }}pancakes.jpg" ALT="Pancakes" >
		<h4>Berry Pancakes</h4><br>
    </div>

    <div id="column2" style="float:left; margin:0;width:50%;">
		<h3>Most Liked</h3>
		<!-- New line -->
		<IMG SRC="{{ MEDIA_URL }}chocolate_fudge.jpg" ALT="Chocolate Fudge Cake" >
		<h4>Chocolate Fudge Cake</h4><br>
		<!-- New line -->
		<IMG SRC="{{ MEDIA_URL }}quesadilla.jpg" ALT="Quesadilla" >
		<h4>Beef Quesadillas</h4><br>
    </div>
	</div>
{% endblock %}